<!DOCTYPE html>
<html>
<head>
  <title>Recipefinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>Assignment for Ruby on Rails: An Introduction, Coursera </p>
<p>Created by <a href="https://br.linkedin.com/in/fabricio-oliveira-b2b88873"> Fabricio Oliveira</a></p>
<p><a href="https://github.com/fabricio-oliveira">GitHub: https://github.com/fabricio-oliveira </a><p>

    <%= yield %>
<p class=".power-by">Powered By Food2Fork.com</p>
</body>
</html>
